@{
    ViewBag.Title = "BI_CAMP_CALC";
}





<style type="text/css">
    .webgrid-table
    {
        font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
        font-size: 13px;
        width: 100%;
        display: table;
        border: solid 1px #FFFFFF;
        background-color: white;
        
    }
    .webgrid-table td, th
    {
             
        border: solid 1px #FFFFFF;
        padding: 3px 7px 2px;
    }
    .webgrid-header
    {
      padding: 6px 5px;
      text-align: center;
      background-color: #e8eef4;
      border-bottom: 2px solid #A4A4A4;
    

    }
    .webgrid-footer
    {
    }
    .webgrid-row-style
    {
        text-align: left;
        padding: 3px 7px 2px;
    }
    .webgrid-rubrica
    {
         text-align: left;
        background-color: #EAF2D3;
        padding: 3px 7px 2px;

    }
        .webgrid-total
    {
         text-align: left;
        background-color: #EAF2D3;
        padding: 3px 7px 2px;
    }
.webgrid-selected-row
    {
    font-weight: bold;
     background-color: #E3DFFF;
    }
.Webgrid_col_data
    {
  text-align: center;
    }
.input {
     width: 800px;
     height: 100px;

        text-align: justify;
        background-color: #EAF2D3;
        padding: 3px 4px 2px;
       text-overflow:clip;
    
    }

.block
{
  margin: 0 auto;
  max-width: 900px;
  padding: 50px 30px;   
}
.input-res
{
  -webkit-appearance: none;
  -moz-appearance: none;
  
  font: 15px/1 'Open Sans', sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;

  width: 100%;
  max-width: 500px;
  background-color: #ddd;
  border: none;
  padding: 10px 11px 11px 11px;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  margin: 0;
  box-sizing: border-box; 
}
    </style>

<h3>Edição de Campo:</h3>

<table id="id_camp_calc" class="webgrid-table" border="1">
    <tr>
        <td class="webgrid-header" > Id do Campo: </td> 
        <td class="webgrid-header" > Id do Campo: </td>
        <td class="webgrid-header" >Resultado: </td>  
         <td class="webgrid-header" >Versão: </td> 
    </tr> 
    <tr>
        <td class="webgrid-rubrica" id="id_camp_calc_" style="text-align:center">@Html.Raw((string.Format("{0:N}",@ViewData["id_camp_calc"])))</td> 
        <td class="webgrid-rubrica" id="desc_camp_calc">@Html.Raw((string.Format("{0:N}",@ViewData["desc_camp_calc"])))</td> 
        <td class="webgrid-rubrica" id="campocalc_resultado" style="text-align:center">@Html.Raw((string.Format("{0:N}",@ViewData["campocalc_resultado"])))</td> 
        <td class="webgrid-rubrica" id="versao" style="text-align:center">@Html.Raw((string.Format("{0:N}",@ViewData["versao"])))</td> 
 </tr> 
</table>





@{var num_selector_campo_oper_01 = ViewData["num_selector_campo_01"]; int num_selector_campo_oper_01_ = Convert.ToInt32(num_selector_campo_oper_01); 
var num_selector_campo_oper_02 = ViewData["num_selector_campo_02"]; int num_selector_campo_oper_02_ = Convert.ToInt32(num_selector_campo_oper_02); 
var num_selector_campo_oper_03 = ViewData["num_selector_campo_03"]; int num_selector_campo_oper_03_ = Convert.ToInt32(num_selector_campo_oper_03); 
var num_selector_campo_oper_04 = ViewData["num_selector_campo_04"]; int num_selector_campo_oper_04_ = Convert.ToInt32(num_selector_campo_oper_04); 
var num_selector_campo_oper_05 = ViewData["num_selector_campo_05"]; int num_selector_campo_oper_05_ = Convert.ToInt32(num_selector_campo_oper_05); 
var num_selector_campo_oper_06 = ViewData["num_selector_campo_06"]; int num_selector_campo_oper_06_ = Convert.ToInt32(num_selector_campo_oper_06); 
var num_selector_campo_oper_07 = ViewData["num_selector_campo_07"]; int num_selector_campo_oper_07_ = Convert.ToInt32(num_selector_campo_oper_07); 
var num_selector_campo_oper_08 = ViewData["num_selector_campo_08"]; int num_selector_campo_oper_08_ = Convert.ToInt32(num_selector_campo_oper_08); 
var num_selector_campo_oper_09 = ViewData["num_selector_campo_09"]; int num_selector_campo_oper_09_ = Convert.ToInt32(num_selector_campo_oper_09); 
var num_selector_campo_oper_10 = ViewData["num_selector_campo_10"]; int num_selector_campo_oper_10_ = Convert.ToInt32(num_selector_campo_oper_10);
var num_selector_campo_oper_11 = ViewData["num_selector_campo_11"]; int num_selector_campo_oper_11_ = Convert.ToInt32(num_selector_campo_oper_11);
var num_selector_campo_oper_12 = ViewData["num_selector_campo_12"]; int num_selector_campo_oper_12_ = Convert.ToInt32(num_selector_campo_oper_12); }


   @{var id_camp_calc = ViewData["id_camp_calc"];
     var Pesquisa_User = ViewData["Pesquisa_User"];
     var versao = @ViewData["versao"];
       }


<p style="padding-bottom:30px"></p>

<h3>Configuração do Utilizador:</h3>
<div id="oper_dir_user01">

@Html.Action("BI_CAMP_CALC_OPER_DIR_USER","BI", new {@id_camp_calc , num_oper_dir = "1", @Pesquisa_User, versao} )

</div>


<p style="padding-bottom:30px"></p>


<h3>Configuração Base:</h3>
<div id="oper_dir_01">

@Html.Action("BI_CAMP_CALC_OPER_DIR","BI", new {@id_camp_calc , num_oper_dir = "1", @Pesquisa_User, versao} )

</div>

<p></p>


@if (num_selector_campo_oper_01_.Equals(1)) {
<div id="selector_01">

@Html.Action("BI_CAMP_CALC_SELECTOR","BI", new {@id_camp_calc , num_selector_campo = "1", @Pesquisa_User, versao} )

</div>
}
<p></p>


@if (num_selector_campo_oper_02_.Equals(2)) {
<div id="selector_02">

@Html.Action("BI_CAMP_CALC_SELECTOR","BI", new {@id_camp_calc , num_selector_campo = "2", @Pesquisa_User, versao} )

</div>
}
<p></p>


@if (num_selector_campo_oper_03_.Equals(3)) {
<div id="selector_03">

@Html.Action("BI_CAMP_CALC_SELECTOR","BI", new {@id_camp_calc , num_selector_campo = "3", @Pesquisa_User, versao} )

</div>
}
<p></p>

@if (num_selector_campo_oper_04_.Equals(4)) {
<div id="selector_04">

@Html.Action("BI_CAMP_CALC_SELECTOR","BI", new {@id_camp_calc , num_selector_campo = "4", @Pesquisa_User, versao} )

</div>
}

<p></p>

@if (num_selector_campo_oper_05_.Equals(5)) {

<div id="selector_05">

@Html.Action("BI_CAMP_CALC_SELECTOR","BI", new {@id_camp_calc , num_selector_campo = "5", @Pesquisa_User, versao} )

</div>
}
<p></p>

@if (num_selector_campo_oper_06_.Equals(6)) {

<div id="selector_06">

@Html.Action("BI_CAMP_CALC_SELECTOR","BI", new {@id_camp_calc , num_selector_campo = "6", @Pesquisa_User, versao} )

</div>
}
<p></p>

@if (num_selector_campo_oper_07_.Equals(7)) {
<div id="selector_07">

@Html.Action("BI_CAMP_CALC_SELECTOR","BI", new {@id_camp_calc , num_selector_campo = "7", @Pesquisa_User, versao} )

</div>
}
<p></p>

@if (num_selector_campo_oper_08_.Equals(8)) {
<div id="selector_08">

@Html.Action("BI_CAMP_CALC_SELECTOR","BI", new {@id_camp_calc , num_selector_campo = "8", @Pesquisa_User, versao} )

</div>
}   
 
   
<p></p>


@if (num_selector_campo_oper_09_.Equals(9)) {
<div id="selector_09">

@Html.Action("BI_CAMP_CALC_SELECTOR","BI", new {@id_camp_calc , num_selector_campo = "9", @Pesquisa_User, versao} )

</div>
<p></p>
}



@if (num_selector_campo_oper_10_.Equals(10)) {
<div id="selector_10">

@Html.Action("BI_CAMP_CALC_SELECTOR","BI", new {@id_camp_calc , num_selector_campo = "10", @Pesquisa_User, versao} )

</div>
}

<p></p>

@if (num_selector_campo_oper_11_.Equals(11)) {
<div id="selector_11">

@Html.Action("BI_CAMP_CALC_SELECTOR","BI", new {@id_camp_calc , num_selector_campo = "11", @Pesquisa_User, versao} )

</div>
}

<p></p>

@if (num_selector_campo_oper_12_.Equals(12)) {
<div id="selector_12">

@Html.Action("BI_CAMP_CALC_SELECTOR","BI", new {@id_camp_calc , num_selector_campo = "12", @Pesquisa_User, versao} )

</div>
}


<div id="GRAVAROPER_DIRXX" style="display:none">
   

    @using (Html.BeginForm("BI_CAMP_CALC_OPER_DIR_ALT", "BI", FormMethod.Get))
    {
       <div id="GRAVAR_OPER_DIR" class="GRAVAR_OPER_DIR" style="color:white">
    @Html.ActionLink("GRAVAR","BI_CAMP_CALC_OPER_DIR_ALT", "BI", new { 
    Pesquisa_User = "tjalmeida",versao= @ViewData["versao"],  id_camp_calc = "id_camp_calc",
    num_oper_dir = "num_oper_dir",
    sintaxe_oper_dir = "sintaxe_oper_dir" ,   }, null)
             
       
       </div> 
            <p></p> 
    }
</div>

<div id="GRAVAROPER_DIR_USERXX" style="display:none">
   

    @using (Html.BeginForm("BI_CAMP_CALC_OPER_DIR_ALT", "BI", FormMethod.Get))
    {
       <div id="GRAVAR_OPER_DIR_USER" class="GRAVAR_OPER_DIR_USER" style="color:white">
    @Html.ActionLink("GRAVAR","BI_CAMP_CALC_OPER_DIR_USER_ALT", "BI", new { 
    Pesquisa_User = "tjalmeida",versao= @ViewData["versao"],  id_camp_calc = "id_camp_calc",
    num_oper_dir = "num_oper_dir",
    sintaxe_oper_dir = "sintaxe_oper_dir" ,   }, null)
             
       
       </div> 
            <p></p> 
    }
</div>






<div id="GRAVARSELECTORXX" style="display:none">
   

    @using (Html.BeginForm("BI_CAMP_CALC_SELECTOR_ALT", "BI", FormMethod.Get))
    {
       <div id="GRAVAR_SELECTOR" class="GRAVAR_SELECTOR" >
    @Html.ActionLink("GRAVAR_SELECTOR","BI_CAMP_CALC_SELECTOR_ALT", "BI", new { 
    Pesquisa_User = "tjalmeida",versao= @ViewData["versao"], id_camp_calc = "id_camp_calc",
    num_selector_campo = "num_selector_campo",
    sinal_operacao = "sinal_operacao" , tipo_operacao="tipo_operacao", 
    sinal_campo_oper_01 = "sinal_campo_oper_01", campo_oper_01 = "campo_oper_01",
    sinal_campo_oper_02 = "sinal_campo_oper_02", campo_oper_02 = "campo_oper_02",
    sinal_campo_oper_03 = "sinal_campo_oper_03", campo_oper_03 = "campo_oper_03",
    sinal_campo_oper_04 = "sinal_campo_oper_04", campo_oper_04 = "campo_oper_04",
    sinal_campo_oper_05 = "sinal_campo_oper_05", campo_oper_05 = "campo_oper_05",
    sinal_campo_oper_06 = "sinal_campo_oper_06", campo_oper_06 = "campo_oper_06",
    sinal_campo_oper_07 = "sinal_campo_oper_07", campo_oper_07 = "campo_oper_07",
    sinal_campo_oper_08 = "sinal_campo_oper_08", campo_oper_08 = "campo_oper_08",
    sinal_campo_oper_09 = "sinal_campo_oper_09", campo_oper_09 = "campo_oper_09",
    sinal_campo_oper_10 = "sinal_campo_oper_10", campo_oper_10 = "campo_oper_10",
    parent_abre_01 = "parent_abre_01", id_parametro_01="id_parametro_01", operador_tipo_01="operador_tipo_01", operador_valor_01 = "operador_valor_01", parent_fecha_01 = "parent_fecha_01", 
    e_ou_02 = "e_ou_02", parent_abre_02 = "parent_abre_02", id_parametro_02="id_parametro_02", operador_tipo_02="operador_tipo_02", operador_valor_02 = "operador_valor_02", parent_fecha_02 = "parent_fecha_02", 
    e_ou_03 = "e_ou_03", parent_abre_03 = "parent_abre_03", id_parametro_03="id_parametro_03", operador_tipo_03="operador_tipo_03", operador_valor_03 = "operador_valor_03", parent_fecha_03 = "parent_fecha_03", 
    e_ou_04 = "e_ou_04", parent_abre_04 = "parent_abre_04", id_parametro_04="id_parametro_04", operador_tipo_04="operador_tipo_04", operador_valor_04 = "operador_valor_04", parent_fecha_04 = "parent_fecha_04", 
    e_ou_05 = "e_ou_05", parent_abre_05 = "parent_abre_05", id_parametro_05="id_parametro_05", operador_tipo_05="operador_tipo_05", operador_valor_05 = "operador_valor_05", parent_fecha_05 = "parent_fecha_05", 
    e_ou_06 = "e_ou_06", parent_abre_06 = "parent_abre_06", id_parametro_06="id_parametro_06", operador_tipo_06="operador_tipo_06", operador_valor_06 = "operador_valor_06", parent_fecha_06 = "parent_fecha_06", 
    e_ou_07 = "e_ou_07", parent_abre_07 = "parent_abre_07", id_parametro_07="id_parametro_07", operador_tipo_07="operador_tipo_07", operador_valor_07 = "operador_valor_07", parent_fecha_07 = "parent_fecha_07", 
    e_ou_08 = "e_ou_08", parent_abre_08 = "parent_abre_08", id_parametro_08="id_parametro_08", operador_tipo_08="operador_tipo_08", operador_valor_08 = "operador_valor_08", parent_fecha_08 = "parent_fecha_08", 
    e_ou_09 = "e_ou_09", parent_abre_09 = "parent_abre_09", id_parametro_09="id_parametro_09", operador_tipo_09="operador_tipo_09", operador_valor_09 = "operador_valor_09", parent_fecha_09 = "parent_fecha_09", 
    e_ou_10 = "e_ou_10", parent_abre_10 = "parent_abre_10", id_parametro_10="id_parametro_10", operador_tipo_10="operador_tipo_10", operador_valor_10 = "operador_valor_10", parent_fecha_10 = "parent_fecha_10",
   }, null)
       
       
       
       </div> 
            <p></p> 
    }
</div>


@section scripts {



    <script type="text/javascript">

        $(document).ready(function () {
            


            


            $(".webgrid-table td").click(function () {

                if ($(this).children().attr('class') != "input") {
                    var selectorconteudoOriginal = $(this).parent().parent().parent().parent().attr('id');
                    var idconteudoOriginal = $(this).attr('id');
                    var findidconteudoOriginal = '.' + idconteudoOriginal + '';
                    var hrefalterar = '"a[href*=' + "'" + idconteudoOriginal + "'" + ']"';
                    var conteudoOriginal = $(this).text();
                    ;}
                //NOTA TA: Aqui passo o botão Gravar Selector para dentro do Selector que está a ser aletarado
                var ReplaceHrefID = $("#GRAVARSELECTORXX form").html();
                if ($('#' + selectorconteudoOriginal).find('.GRAVAR_SELECTOR').text() == "") {
                    $('#' + selectorconteudoOriginal).prepend(ReplaceHrefID);
                }

                //NOTA TA: Aqui re-faço a href do botão com todos os campos preenchidos de origem
                var ValorInicial_id_camp_calc = $('#id_camp_calc').find('td#id_camp_calc_').text();
                var ReplaceHref_id_camp_calc = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('id_camp_calc=id_camp_calc', 'id_camp_calc' + '=' + ValorInicial_id_camp_calc);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_id_camp_calc);

                var ValorInicial_num_selector_campo = $('#' + selectorconteudoOriginal).find('b#num_selector_campo').text();
                var ReplaceHref_num_selector_campo = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('num_selector_campo=num_selector_campo', 'num_selector_campo' + '=' + ValorInicial_num_selector_campo);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_num_selector_campo);

                var ValorInicial_sinal_operacao = $('#' + selectorconteudoOriginal).find('td#sinal_operacao').text();
                var ReplaceHref_sinal_operacao = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('sinal_operacao=sinal_operacao', 'sinal_operacao' + '=' + ValorInicial_sinal_operacao);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_sinal_operacao);

                var ValorInicial_tipo_operacao = $('#' + selectorconteudoOriginal).find('td#tipo_operacao').text();
                var ReplaceHref_tipo_operacao = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('tipo_operacao=tipo_operacao', 'tipo_operacao' + '=' + ValorInicial_tipo_operacao);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_tipo_operacao);

                var ValorInicial_sinal_campo_oper_01 = $('#' + selectorconteudoOriginal).find('td#sinal_campo_oper_01').text();
                var ReplaceHref_sinal_campo_oper_01 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('sinal_campo_oper_01=sinal_campo_oper_01', 'sinal_campo_oper_01' + '=' + ValorInicial_sinal_campo_oper_01);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_sinal_campo_oper_01);

                var ValorInicial_campo_oper_01 = $('#' + selectorconteudoOriginal).find('td#campo_oper_01').text();
                var ReplaceHref_campo_oper_01 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('campo_oper_01=campo_oper_01', 'campo_oper_01' + '=' + ValorInicial_campo_oper_01);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_campo_oper_01);

                var ValorInicial_sinal_campo_oper_02 = $('#' + selectorconteudoOriginal).find('td#sinal_campo_oper_02').text();
                var ReplaceHref_sinal_campo_oper_02 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('sinal_campo_oper_02=sinal_campo_oper_02', 'sinal_campo_oper_02' + '=' + ValorInicial_sinal_campo_oper_02);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_sinal_campo_oper_02);

                var ValorInicial_campo_oper_02 = $('#' + selectorconteudoOriginal).find('td#campo_oper_02').text();
                var ReplaceHref_campo_oper_02 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('campo_oper_02=campo_oper_02', 'campo_oper_02' + '=' + ValorInicial_campo_oper_02);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_campo_oper_02);

                var ValorInicial_sinal_campo_oper_03 = $('#' + selectorconteudoOriginal).find('td#sinal_campo_oper_03').text();
                var ReplaceHref_sinal_campo_oper_03 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('sinal_campo_oper_03=sinal_campo_oper_03', 'sinal_campo_oper_03' + '=' + ValorInicial_sinal_campo_oper_03);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_sinal_campo_oper_03);

                var ValorInicial_campo_oper_03 = $('#' + selectorconteudoOriginal).find('td#campo_oper_03').text();
                var ReplaceHref_campo_oper_03 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('campo_oper_03=campo_oper_03', 'campo_oper_03' + '=' + ValorInicial_campo_oper_03);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_campo_oper_03);

                var ValorInicial_sinal_campo_oper_04 = $('#' + selectorconteudoOriginal).find('td#sinal_campo_oper_04').text();
                var ReplaceHref_sinal_campo_oper_04 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('sinal_campo_oper_04=sinal_campo_oper_04', 'sinal_campo_oper_04' + '=' + ValorInicial_sinal_campo_oper_04);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_sinal_campo_oper_04);

                var ValorInicial_campo_oper_04 = $('#' + selectorconteudoOriginal).find('td#campo_oper_04').text();
                var ReplaceHref_campo_oper_04 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('campo_oper_04=campo_oper_04', 'campo_oper_04' + '=' + ValorInicial_campo_oper_04);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_campo_oper_04);

                var ValorInicial_sinal_campo_oper_05 = $('#' + selectorconteudoOriginal).find('td#sinal_campo_oper_05').text();
                var ReplaceHref_sinal_campo_oper_05 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('sinal_campo_oper_05=sinal_campo_oper_05', 'sinal_campo_oper_05' + '=' + ValorInicial_sinal_campo_oper_05);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_sinal_campo_oper_05);

                var ValorInicial_campo_oper_05 = $('#' + selectorconteudoOriginal).find('td#campo_oper_05').text();
                var ReplaceHref_campo_oper_05 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('campo_oper_05=campo_oper_05', 'campo_oper_05' + '=' + ValorInicial_campo_oper_05);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_campo_oper_05);

                var ValorInicial_sinal_campo_oper_06 = $('#' + selectorconteudoOriginal).find('td#sinal_campo_oper_06').text();
                var ReplaceHref_sinal_campo_oper_06 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('sinal_campo_oper_06=sinal_campo_oper_06', 'sinal_campo_oper_06' + '=' + ValorInicial_sinal_campo_oper_06);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_sinal_campo_oper_06);

                var ValorInicial_campo_oper_06 = $('#' + selectorconteudoOriginal).find('td#campo_oper_06').text();
                var ReplaceHref_campo_oper_06 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('campo_oper_06=campo_oper_06', 'campo_oper_06' + '=' + ValorInicial_campo_oper_06);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_campo_oper_06);

                var ValorInicial_sinal_campo_oper_07 = $('#' + selectorconteudoOriginal).find('td#sinal_campo_oper_07').text();
                var ReplaceHref_sinal_campo_oper_07 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('sinal_campo_oper_07=sinal_campo_oper_07', 'sinal_campo_oper_07' + '=' + ValorInicial_sinal_campo_oper_07);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_sinal_campo_oper_07);

                var ValorInicial_campo_oper_07 = $('#' + selectorconteudoOriginal).find('td#campo_oper_07').text();
                var ReplaceHref_campo_oper_07 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('campo_oper_07=campo_oper_07', 'campo_oper_07' + '=' + ValorInicial_campo_oper_07);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_campo_oper_07);

                var ValorInicial_sinal_campo_oper_08 = $('#' + selectorconteudoOriginal).find('td#sinal_campo_oper_08').text();
                var ReplaceHref_sinal_campo_oper_08 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('sinal_campo_oper_08=sinal_campo_oper_08', 'sinal_campo_oper_08' + '=' + ValorInicial_sinal_campo_oper_08);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_sinal_campo_oper_08);

                var ValorInicial_campo_oper_08 = $('#' + selectorconteudoOriginal).find('td#campo_oper_08').text();
                var ReplaceHref_campo_oper_08 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('campo_oper_08=campo_oper_08', 'campo_oper_08' + '=' + ValorInicial_campo_oper_08);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_campo_oper_08);

                var ValorInicial_sinal_campo_oper_09 = $('#' + selectorconteudoOriginal).find('td#sinal_campo_oper_09').text();
                var ReplaceHref_sinal_campo_oper_09 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('sinal_campo_oper_09=sinal_campo_oper_09', 'sinal_campo_oper_09' + '=' + ValorInicial_sinal_campo_oper_09);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_sinal_campo_oper_09);

                var ValorInicial_campo_oper_09 = $('#' + selectorconteudoOriginal).find('td#campo_oper_09').text();
                var ReplaceHref_campo_oper_09 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('campo_oper_09=campo_oper_09', 'campo_oper_09' + '=' + ValorInicial_campo_oper_09);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_campo_oper_09);

                var ValorInicial_sinal_campo_oper_10 = $('#' + selectorconteudoOriginal).find('td#sinal_campo_oper_10').text();
                var ReplaceHref_sinal_campo_oper_10 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('sinal_campo_oper_10=sinal_campo_oper_10', 'sinal_campo_oper_10' + '=' + ValorInicial_sinal_campo_oper_10);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_sinal_campo_oper_10);

                var ValorInicial_campo_oper_10 = $('#' + selectorconteudoOriginal).find('td#campo_oper_10').text();
                var ReplaceHref_campo_oper_10 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('campo_oper_10=campo_oper_10', 'campo_oper_10' + '=' + ValorInicial_campo_oper_10);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_campo_oper_10);

                var ValorInicial_parent_abre_01 = $('#' + selectorconteudoOriginal).find('td#parent_abre_01').text();
                var ReplaceHref_parent_abre_01 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('parent_abre_01=parent_abre_01', 'parent_abre_01' + '=' + ValorInicial_parent_abre_01);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_parent_abre_01);

                var ValorInicial_id_parametro_01 = $('#' + selectorconteudoOriginal).find('td#id_parametro_01').text();
                var ReplaceHref_id_parametro_01 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('id_parametro_01=id_parametro_01', 'id_parametro_01' + '=' + ValorInicial_id_parametro_01);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_id_parametro_01);

                var ValorInicial_operador_tipo_01 = $('#' + selectorconteudoOriginal).find('td#operador_tipo_01').text();
                var ReplaceHref_operador_tipo_01 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('operador_tipo_01=operador_tipo_01', 'operador_tipo_01' + '=' + ValorInicial_operador_tipo_01);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_operador_tipo_01);

                var ValorInicial_operador_valor_01 = $('#' + selectorconteudoOriginal).find('td#operador_valor_01').text();
                var ReplaceHref_operador_valor_01 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('operador_valor_01=operador_valor_01', 'operador_valor_01' + '=' + ValorInicial_operador_valor_01);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_operador_valor_01);

                var ValorInicial_parent_fecha_01 = $('#' + selectorconteudoOriginal).find('td#parent_fecha_01').text();
                var ReplaceHref_parent_fecha_01 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('parent_fecha_01=parent_fecha_01', 'parent_fecha_01' + '=' + ValorInicial_parent_fecha_01);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_parent_fecha_01);

                var ValorInicial_e_ou_02 = $('#' + selectorconteudoOriginal).find('td#e_ou_02').text();
                var ReplaceHref_e_ou_02 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('e_ou_02=e_ou_02', 'e_ou_02' + '=' + ValorInicial_e_ou_02);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_e_ou_02);

                var ValorInicial_parent_abre_02 = $('#' + selectorconteudoOriginal).find('td#parent_abre_02').text();
                var ReplaceHref_parent_abre_02 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('parent_abre_02=parent_abre_02', 'parent_abre_02' + '=' + ValorInicial_parent_abre_02);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_parent_abre_02);

                var ValorInicial_id_parametro_02 = $('#' + selectorconteudoOriginal).find('td#id_parametro_02').text();
                var ReplaceHref_id_parametro_02 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('id_parametro_02=id_parametro_02', 'id_parametro_02' + '=' + ValorInicial_id_parametro_02);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_id_parametro_02);

                var ValorInicial_operador_tipo_02 = $('#' + selectorconteudoOriginal).find('td#operador_tipo_02').text();
                var ReplaceHref_operador_tipo_02 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('operador_tipo_02=operador_tipo_02', 'operador_tipo_02' + '=' + ValorInicial_operador_tipo_02);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_operador_tipo_02);

                var ValorInicial_operador_valor_02 = $('#' + selectorconteudoOriginal).find('td#operador_valor_02').text();
                var ReplaceHref_operador_valor_02 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('operador_valor_02=operador_valor_02', 'operador_valor_02' + '=' + ValorInicial_operador_valor_02);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_operador_valor_02);

                var ValorInicial_parent_fecha_02 = $('#' + selectorconteudoOriginal).find('td#parent_fecha_02').text();
                var ReplaceHref_parent_fecha_02 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('parent_fecha_02=parent_fecha_02', 'parent_fecha_02' + '=' + ValorInicial_parent_fecha_02);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_parent_fecha_02);

                var ValorInicial_operador_valor_02 = $('#' + selectorconteudoOriginal).find('td#operador_valor_02').text();
                var ReplaceHref_operador_valor_02 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('operador_valor_02=operador_valor_02', 'operador_valor_02' + '=' + ValorInicial_operador_valor_02);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_operador_valor_02);

                var ValorInicial_parent_fecha_02 = $('#' + selectorconteudoOriginal).find('td#parent_fecha_02').text();
                var ReplaceHref_parent_fecha_02 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('parent_fecha_02=parent_fecha_02', 'parent_fecha_02' + '=' + ValorInicial_parent_fecha_02);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_parent_fecha_02);

                var ValorInicial_e_ou_03 = $('#' + selectorconteudoOriginal).find('td#e_ou_03').text();
                var ReplaceHref_e_ou_03 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('e_ou_03=e_ou_03', 'e_ou_03' + '=' + ValorInicial_e_ou_03);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_e_ou_03);

                var ValorInicial_parent_abre_03 = $('#' + selectorconteudoOriginal).find('td#parent_abre_03').text();
                var ReplaceHref_parent_abre_03 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('parent_abre_03=parent_abre_03', 'parent_abre_03' + '=' + ValorInicial_parent_abre_03);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_parent_abre_03);

                var ValorInicial_id_parametro_03 = $('#' + selectorconteudoOriginal).find('td#id_parametro_03').text();
                var ReplaceHref_id_parametro_03 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('id_parametro_03=id_parametro_03', 'id_parametro_03' + '=' + ValorInicial_id_parametro_03);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_id_parametro_03);

                var ValorInicial_operador_tipo_03 = $('#' + selectorconteudoOriginal).find('td#operador_tipo_03').text();
                var ReplaceHref_operador_tipo_03 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('operador_tipo_03=operador_tipo_03', 'operador_tipo_03' + '=' + ValorInicial_operador_tipo_03);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_operador_tipo_03);

                var ValorInicial_operador_valor_03 = $('#' + selectorconteudoOriginal).find('td#operador_valor_03').text();
                var ReplaceHref_operador_valor_03 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('operador_valor_03=operador_valor_03', 'operador_valor_03' + '=' + ValorInicial_operador_valor_03);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_operador_valor_03);

                var ValorInicial_parent_fecha_03 = $('#' + selectorconteudoOriginal).find('td#parent_fecha_03').text();
                var ReplaceHref_parent_fecha_03 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('parent_fecha_03=parent_fecha_03', 'parent_fecha_03' + '=' + ValorInicial_parent_fecha_03);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_parent_fecha_03);

                var ValorInicial_operador_valor_03 = $('#' + selectorconteudoOriginal).find('td#operador_valor_03').text();
                var ReplaceHref_operador_valor_03 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('operador_valor_03=operador_valor_03', 'operador_valor_03' + '=' + ValorInicial_operador_valor_03);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_operador_valor_03);

                var ValorInicial_parent_fecha_03 = $('#' + selectorconteudoOriginal).find('td#parent_fecha_03').text();
                var ReplaceHref_parent_fecha_03 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('parent_fecha_03=parent_fecha_03', 'parent_fecha_03' + '=' + ValorInicial_parent_fecha_03);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_parent_fecha_03);

                var ValorInicial_e_ou_04 = $('#' + selectorconteudoOriginal).find('td#e_ou_04').text();
                var ReplaceHref_e_ou_04 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('e_ou_04=e_ou_04', 'e_ou_04' + '=' + ValorInicial_e_ou_04);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_e_ou_04);

                var ValorInicial_parent_abre_04 = $('#' + selectorconteudoOriginal).find('td#parent_abre_04').text();
                var ReplaceHref_parent_abre_04 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('parent_abre_04=parent_abre_04', 'parent_abre_04' + '=' + ValorInicial_parent_abre_04);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_parent_abre_04);

                var ValorInicial_id_parametro_04 = $('#' + selectorconteudoOriginal).find('td#id_parametro_04').text();
                var ReplaceHref_id_parametro_04 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('id_parametro_04=id_parametro_04', 'id_parametro_04' + '=' + ValorInicial_id_parametro_04);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_id_parametro_04);

                var ValorInicial_operador_tipo_04 = $('#' + selectorconteudoOriginal).find('td#operador_tipo_04').text();
                var ReplaceHref_operador_tipo_04 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('operador_tipo_04=operador_tipo_04', 'operador_tipo_04' + '=' + ValorInicial_operador_tipo_04);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_operador_tipo_04);

                var ValorInicial_operador_valor_04 = $('#' + selectorconteudoOriginal).find('td#operador_valor_04').text();
                var ReplaceHref_operador_valor_04 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('operador_valor_04=operador_valor_04', 'operador_valor_04' + '=' + ValorInicial_operador_valor_04);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_operador_valor_04);

                var ValorInicial_parent_fecha_04 = $('#' + selectorconteudoOriginal).find('td#parent_fecha_04').text();
                var ReplaceHref_parent_fecha_04 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('parent_fecha_04=parent_fecha_04', 'parent_fecha_04' + '=' + ValorInicial_parent_fecha_04);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_parent_fecha_04);

                var ValorInicial_operador_valor_04 = $('#' + selectorconteudoOriginal).find('td#operador_valor_04').text();
                var ReplaceHref_operador_valor_04 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('operador_valor_04=operador_valor_04', 'operador_valor_04' + '=' + ValorInicial_operador_valor_04);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_operador_valor_04);

                var ValorInicial_parent_fecha_04 = $('#' + selectorconteudoOriginal).find('td#parent_fecha_04').text();
                var ReplaceHref_parent_fecha_04 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('parent_fecha_04=parent_fecha_04', 'parent_fecha_04' + '=' + ValorInicial_parent_fecha_04);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_parent_fecha_04);

                var ValorInicial_e_ou_05 = $('#' + selectorconteudoOriginal).find('td#e_ou_05').text();
                var ReplaceHref_e_ou_05 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('e_ou_05=e_ou_05', 'e_ou_05' + '=' + ValorInicial_e_ou_05);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_e_ou_05);

                var ValorInicial_parent_abre_05 = $('#' + selectorconteudoOriginal).find('td#parent_abre_05').text();
                var ReplaceHref_parent_abre_05 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('parent_abre_05=parent_abre_05', 'parent_abre_05' + '=' + ValorInicial_parent_abre_05);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_parent_abre_05);

                var ValorInicial_id_parametro_05 = $('#' + selectorconteudoOriginal).find('td#id_parametro_05').text();
                var ReplaceHref_id_parametro_05 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('id_parametro_05=id_parametro_05', 'id_parametro_05' + '=' + ValorInicial_id_parametro_05);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_id_parametro_05);

                var ValorInicial_operador_tipo_05 = $('#' + selectorconteudoOriginal).find('td#operador_tipo_05').text();
                var ReplaceHref_operador_tipo_05 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('operador_tipo_05=operador_tipo_05', 'operador_tipo_05' + '=' + ValorInicial_operador_tipo_05);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_operador_tipo_05);

                var ValorInicial_operador_valor_05 = $('#' + selectorconteudoOriginal).find('td#operador_valor_05').text();
                var ReplaceHref_operador_valor_05 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('operador_valor_05=operador_valor_05', 'operador_valor_05' + '=' + ValorInicial_operador_valor_05);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_operador_valor_05);

                var ValorInicial_parent_fecha_05 = $('#' + selectorconteudoOriginal).find('td#parent_fecha_05').text();
                var ReplaceHref_parent_fecha_05 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('parent_fecha_05=parent_fecha_05', 'parent_fecha_05' + '=' + ValorInicial_parent_fecha_05);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_parent_fecha_05);

                var ValorInicial_operador_valor_05 = $('#' + selectorconteudoOriginal).find('td#operador_valor_05').text();
                var ReplaceHref_operador_valor_05 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('operador_valor_05=operador_valor_05', 'operador_valor_05' + '=' + ValorInicial_operador_valor_05);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_operador_valor_05);

                var ValorInicial_parent_fecha_05 = $('#' + selectorconteudoOriginal).find('td#parent_fecha_05').text();
                var ReplaceHref_parent_fecha_05 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('parent_fecha_05=parent_fecha_05', 'parent_fecha_05' + '=' + ValorInicial_parent_fecha_05);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_parent_fecha_05);

                var ValorInicial_e_ou_06 = $('#' + selectorconteudoOriginal).find('td#e_ou_06').text();
                var ReplaceHref_e_ou_06 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('e_ou_06=e_ou_06', 'e_ou_06' + '=' + ValorInicial_e_ou_06);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_e_ou_06);

                var ValorInicial_parent_abre_06 = $('#' + selectorconteudoOriginal).find('td#parent_abre_06').text();
                var ReplaceHref_parent_abre_06 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('parent_abre_06=parent_abre_06', 'parent_abre_06' + '=' + ValorInicial_parent_abre_06);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_parent_abre_06);

                var ValorInicial_id_parametro_06 = $('#' + selectorconteudoOriginal).find('td#id_parametro_06').text();
                var ReplaceHref_id_parametro_06 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('id_parametro_06=id_parametro_06', 'id_parametro_06' + '=' + ValorInicial_id_parametro_06);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_id_parametro_06);

                var ValorInicial_operador_tipo_06 = $('#' + selectorconteudoOriginal).find('td#operador_tipo_06').text();
                var ReplaceHref_operador_tipo_06 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('operador_tipo_06=operador_tipo_06', 'operador_tipo_06' + '=' + ValorInicial_operador_tipo_06);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_operador_tipo_06);

                var ValorInicial_operador_valor_06 = $('#' + selectorconteudoOriginal).find('td#operador_valor_06').text();
                var ReplaceHref_operador_valor_06 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('operador_valor_06=operador_valor_06', 'operador_valor_06' + '=' + ValorInicial_operador_valor_06);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_operador_valor_06);

                var ValorInicial_parent_fecha_06 = $('#' + selectorconteudoOriginal).find('td#parent_fecha_06').text();
                var ReplaceHref_parent_fecha_06 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('parent_fecha_06=parent_fecha_06', 'parent_fecha_06' + '=' + ValorInicial_parent_fecha_06);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_parent_fecha_06);

                var ValorInicial_operador_valor_06 = $('#' + selectorconteudoOriginal).find('td#operador_valor_06').text();
                var ReplaceHref_operador_valor_06 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('operador_valor_06=operador_valor_06', 'operador_valor_06' + '=' + ValorInicial_operador_valor_06);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_operador_valor_06);

                var ValorInicial_parent_fecha_06 = $('#' + selectorconteudoOriginal).find('td#parent_fecha_06').text();
                var ReplaceHref_parent_fecha_06 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('parent_fecha_06=parent_fecha_06', 'parent_fecha_06' + '=' + ValorInicial_parent_fecha_06);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_parent_fecha_06);

                var ValorInicial_e_ou_07 = $('#' + selectorconteudoOriginal).find('td#e_ou_07').text();
                var ReplaceHref_e_ou_07 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('e_ou_07=e_ou_07', 'e_ou_07' + '=' + ValorInicial_e_ou_07);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_e_ou_07);

                var ValorInicial_parent_abre_07 = $('#' + selectorconteudoOriginal).find('td#parent_abre_07').text();
                var ReplaceHref_parent_abre_07 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('parent_abre_07=parent_abre_07', 'parent_abre_07' + '=' + ValorInicial_parent_abre_07);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_parent_abre_07);

                var ValorInicial_id_parametro_07 = $('#' + selectorconteudoOriginal).find('td#id_parametro_07').text();
                var ReplaceHref_id_parametro_07 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('id_parametro_07=id_parametro_07', 'id_parametro_07' + '=' + ValorInicial_id_parametro_07);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_id_parametro_07);

                var ValorInicial_operador_tipo_07 = $('#' + selectorconteudoOriginal).find('td#operador_tipo_07').text();
                var ReplaceHref_operador_tipo_07 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('operador_tipo_07=operador_tipo_07', 'operador_tipo_07' + '=' + ValorInicial_operador_tipo_07);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_operador_tipo_07);

                var ValorInicial_operador_valor_07 = $('#' + selectorconteudoOriginal).find('td#operador_valor_07').text();
                var ReplaceHref_operador_valor_07 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('operador_valor_07=operador_valor_07', 'operador_valor_07' + '=' + ValorInicial_operador_valor_07);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_operador_valor_07);

                var ValorInicial_parent_fecha_07 = $('#' + selectorconteudoOriginal).find('td#parent_fecha_07').text();
                var ReplaceHref_parent_fecha_07 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('parent_fecha_07=parent_fecha_07', 'parent_fecha_07' + '=' + ValorInicial_parent_fecha_07);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_parent_fecha_07);

                var ValorInicial_operador_valor_07 = $('#' + selectorconteudoOriginal).find('td#operador_valor_07').text();
                var ReplaceHref_operador_valor_07 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('operador_valor_07=operador_valor_07', 'operador_valor_07' + '=' + ValorInicial_operador_valor_07);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_operador_valor_07);

                var ValorInicial_parent_fecha_07 = $('#' + selectorconteudoOriginal).find('td#parent_fecha_07').text();
                var ReplaceHref_parent_fecha_07 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('parent_fecha_07=parent_fecha_07', 'parent_fecha_07' + '=' + ValorInicial_parent_fecha_07);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_parent_fecha_07);

                var ValorInicial_e_ou_08 = $('#' + selectorconteudoOriginal).find('td#e_ou_08').text();
                var ReplaceHref_e_ou_08 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('e_ou_08=e_ou_08', 'e_ou_08' + '=' + ValorInicial_e_ou_08);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_e_ou_08);

                var ValorInicial_parent_abre_08 = $('#' + selectorconteudoOriginal).find('td#parent_abre_08').text();
                var ReplaceHref_parent_abre_08 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('parent_abre_08=parent_abre_08', 'parent_abre_08' + '=' + ValorInicial_parent_abre_08);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_parent_abre_08);

                var ValorInicial_id_parametro_08 = $('#' + selectorconteudoOriginal).find('td#id_parametro_08').text();
                var ReplaceHref_id_parametro_08 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('id_parametro_08=id_parametro_08', 'id_parametro_08' + '=' + ValorInicial_id_parametro_08);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_id_parametro_08);

                var ValorInicial_operador_tipo_08 = $('#' + selectorconteudoOriginal).find('td#operador_tipo_08').text();
                var ReplaceHref_operador_tipo_08 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('operador_tipo_08=operador_tipo_08', 'operador_tipo_08' + '=' + ValorInicial_operador_tipo_08);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_operador_tipo_08);

                var ValorInicial_operador_valor_08 = $('#' + selectorconteudoOriginal).find('td#operador_valor_08').text();
                var ReplaceHref_operador_valor_08 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('operador_valor_08=operador_valor_08', 'operador_valor_08' + '=' + ValorInicial_operador_valor_08);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_operador_valor_08);

                var ValorInicial_parent_fecha_08 = $('#' + selectorconteudoOriginal).find('td#parent_fecha_08').text();
                var ReplaceHref_parent_fecha_08 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('parent_fecha_08=parent_fecha_08', 'parent_fecha_08' + '=' + ValorInicial_parent_fecha_08);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_parent_fecha_08);

                var ValorInicial_operador_valor_08 = $('#' + selectorconteudoOriginal).find('td#operador_valor_08').text();
                var ReplaceHref_operador_valor_08 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('operador_valor_08=operador_valor_08', 'operador_valor_08' + '=' + ValorInicial_operador_valor_08);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_operador_valor_08);

                var ValorInicial_parent_fecha_08 = $('#' + selectorconteudoOriginal).find('td#parent_fecha_08').text();
                var ReplaceHref_parent_fecha_08 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('parent_fecha_08=parent_fecha_08', 'parent_fecha_08' + '=' + ValorInicial_parent_fecha_08);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_parent_fecha_08);

                var ValorInicial_e_ou_09 = $('#' + selectorconteudoOriginal).find('td#e_ou_09').text();
                var ReplaceHref_e_ou_09 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('e_ou_09=e_ou_09', 'e_ou_09' + '=' + ValorInicial_e_ou_09);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_e_ou_09);

                var ValorInicial_parent_abre_09 = $('#' + selectorconteudoOriginal).find('td#parent_abre_09').text();
                var ReplaceHref_parent_abre_09 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('parent_abre_09=parent_abre_09', 'parent_abre_09' + '=' + ValorInicial_parent_abre_09);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_parent_abre_09);

                var ValorInicial_id_parametro_09 = $('#' + selectorconteudoOriginal).find('td#id_parametro_09').text();
                var ReplaceHref_id_parametro_09 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('id_parametro_09=id_parametro_09', 'id_parametro_09' + '=' + ValorInicial_id_parametro_09);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_id_parametro_09);

                var ValorInicial_operador_tipo_09 = $('#' + selectorconteudoOriginal).find('td#operador_tipo_09').text();
                var ReplaceHref_operador_tipo_09 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('operador_tipo_09=operador_tipo_09', 'operador_tipo_09' + '=' + ValorInicial_operador_tipo_09);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_operador_tipo_09);

                var ValorInicial_operador_valor_09 = $('#' + selectorconteudoOriginal).find('td#operador_valor_09').text();
                var ReplaceHref_operador_valor_09 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('operador_valor_09=operador_valor_09', 'operador_valor_09' + '=' + ValorInicial_operador_valor_09);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_operador_valor_09);

                var ValorInicial_parent_fecha_09 = $('#' + selectorconteudoOriginal).find('td#parent_fecha_09').text();
                var ReplaceHref_parent_fecha_09 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('parent_fecha_09=parent_fecha_09', 'parent_fecha_09' + '=' + ValorInicial_parent_fecha_09);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_parent_fecha_09);

                var ValorInicial_operador_valor_09 = $('#' + selectorconteudoOriginal).find('td#operador_valor_09').text();
                var ReplaceHref_operador_valor_09 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('operador_valor_09=operador_valor_09', 'operador_valor_09' + '=' + ValorInicial_operador_valor_09);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_operador_valor_09);

                var ValorInicial_parent_fecha_09 = $('#' + selectorconteudoOriginal).find('td#parent_fecha_09').text();
                var ReplaceHref_parent_fecha_09 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('parent_fecha_09=parent_fecha_09', 'parent_fecha_09' + '=' + ValorInicial_parent_fecha_09);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_parent_fecha_09);

                var ValorInicial_e_ou_10 = $('#' + selectorconteudoOriginal).find('td#e_ou_10').text();
                var ReplaceHref_e_ou_10 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('e_ou_10=e_ou_10', 'e_ou_10' + '=' + ValorInicial_e_ou_10);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_e_ou_10);

                var ValorInicial_parent_abre_10 = $('#' + selectorconteudoOriginal).find('td#parent_abre_10').text();
                var ReplaceHref_parent_abre_10 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('parent_abre_10=parent_abre_10', 'parent_abre_10' + '=' + ValorInicial_parent_abre_10);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_parent_abre_10);

                var ValorInicial_id_parametro_10 = $('#' + selectorconteudoOriginal).find('td#id_parametro_10').text();
                var ReplaceHref_id_parametro_10 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('id_parametro_10=id_parametro_10', 'id_parametro_10' + '=' + ValorInicial_id_parametro_10);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_id_parametro_10);

                var ValorInicial_operador_tipo_10 = $('#' + selectorconteudoOriginal).find('td#operador_tipo_10').text();
                var ReplaceHref_operador_tipo_10 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('operador_tipo_10=operador_tipo_10', 'operador_tipo_10' + '=' + ValorInicial_operador_tipo_10);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_operador_tipo_10);

                var ValorInicial_operador_valor_10 = $('#' + selectorconteudoOriginal).find('td#operador_valor_10').text();
                var ReplaceHref_operador_valor_10 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('operador_valor_10=operador_valor_10', 'operador_valor_10' + '=' + ValorInicial_operador_valor_10);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_operador_valor_10);

                var ValorInicial_parent_fecha_10 = $('#' + selectorconteudoOriginal).find('td#parent_fecha_10').text();
                var ReplaceHref_parent_fecha_10 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('parent_fecha_10=parent_fecha_10', 'parent_fecha_10' + '=' + ValorInicial_parent_fecha_10);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_parent_fecha_10);

                var ValorInicial_operador_valor_10 = $('#' + selectorconteudoOriginal).find('td#operador_valor_10').text();
                var ReplaceHref_operador_valor_10 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('operador_valor_10=operador_valor_10', 'operador_valor_10' + '=' + ValorInicial_operador_valor_10);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_operador_valor_10);

                var ValorInicial_parent_fecha_10 = $('#' + selectorconteudoOriginal).find('td#parent_fecha_10').text();
                var ReplaceHref_parent_fecha_10 = $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html().replace('parent_fecha_10=parent_fecha_10', 'parent_fecha_10' + '=' + ValorInicial_parent_fecha_10);
                $('#' + selectorconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_parent_fecha_10);


                //NOTA TA: No caso de o conteudo original da celula ter plicas "'", substuituo momentaneamente a plica por um cxarater "|" especifico, para ultrapassar a questão.
                if (conteudoOriginal.indexOf("'") != '-1') {
                    var conteudoOriginal_ = conteudoOriginal.replace("'", "|").replace("'", "|");
                    $(this).html("<div class='block'><input type='text' class='input-res'   value='" + conteudoOriginal_ + "'/></div>");
                    var input = ($(this).html().replace("|", "'").replace("|", "'"));
                    $(this).html(input);
                    $(this).children().first().focus();

                } else
                {
                    $(this).html("<div class='block'><input type='text' class='input-res'   value='" + conteudoOriginal_ + "'/></div>");
                    $(this).children().first().focus();
                }


                                           

                // NOTA TA: Keypress significa que a instrução é cumprida quando o utilizador faz "enter"
                $(this).children().first().keypress(function (e) {
                    if (e.which == 13) {

                        var novoConteudo = $(this).val();
                        //if (!isNaN(novoConteudo)) { novoConteudo; } else { novoConteudo = conteudoOriginal; alert("Introduza um número, por favor. Não São aceites valores com Texto!"); }
                        $(this).parent().text(novoConteudo);
                        $(this).parent().removeClass("celulaEmEdicao");

                        //if (conteudoOriginal == "Sim") { var conteudoOriginal1 = "1"; } else { if (conteudoOriginal == "Não") { var conteudoOriginal1 = "0"; } else { var conteudoOriginal1 = conteudoOriginal; } }
                        //if (novoConteudo == "Sim") { var novoConteudo1 = "1"; } else { if (novoConteudo == "Não") { var novoConteudo1 = "0"; } else { var novoConteudo1 = novoConteudo; } }

                        var hrefalterar1 = '"a[href*=' + "'" + idconteudoOriginal + "'" + ']"';
                        var ReplaceHref1 = $('#' + selectorconteudoOriginal).find(hrefalterar1).parent().html().replace('&amp;' + idconteudoOriginal + '=' + conteudoOriginal, '&amp;' + idconteudoOriginal + '=' + novoConteudo);
                     
                       
                        $('#' + selectorconteudoOriginal).find(hrefalterar1).parent().html(ReplaceHref1);

                    }

                });


            })


            //--------------------------------TRATO os CAMPO de OPERAÇÃO DIRECTA--------------------------

            //NOTA TA: AQUI MUDO A COR DO TEXTO ONDE ESTÃO AS FORMULAS DE CALCULO:

            texto_1_ini = '(@@',
            texto_1_fim = '@@)',
            cor_1_ini = '<span style="color:#D2691E">(@@',
            cor_1_fim = '@@)</span>',
            texto_2_ini = '($',
            texto_2_fim = '$)',
            cor_2_ini = '<span style="color:#008000">($',
            cor_2_fim = '$)</span>',
            texto_3_ini = '(case',
            cor_3_ini = '<p>(case',
            newText_1 = $('.webgrid-rubrica-camp-dir').text().split(texto_1_ini).join(cor_1_ini).split(texto_1_fim).join(cor_1_fim).split(texto_2_ini).join(cor_2_ini).split(texto_2_fim).join(cor_2_fim).split(texto_3_ini).join(cor_3_ini);
            $('.webgrid-rubrica-camp-dir').html(newText_1);
            newText_2 = $('.webgrid-rubrica-camp-dir_user').text().split(texto_1_ini).join(cor_1_ini).split(texto_1_fim).join(cor_1_fim).split(texto_2_ini).join(cor_2_ini).split(texto_2_fim).join(cor_2_fim).split(texto_3_ini).join(cor_3_ini);
            $('.webgrid-rubrica-camp-dir_user').html(newText_2);


            $(".webgrid-rubrica-camp-dir ").click(function () {
     

                    if ($(this).children().attr('class') != "input") {
                        var oper_dirconteudoOriginal = $(this).parent().parent().parent().parent().attr('id');
                        var idconteudoOriginal = $(this).attr('id');
                        var findidconteudoOriginal = '.' + idconteudoOriginal + '';
                        var hrefalterar = '"a[href*=' + "'" + idconteudoOriginal + "'" + ']"';
                        var conteudoOriginal = $(this).text();
                        ;}

                    //NOTA TA: Aqui passo o botão Gravar Selector para dentro do Selector que está a ser aletarado
                    var ReplaceHrefID = $("#GRAVAROPER_DIRXX form").html();
                    if ($('#' + oper_dirconteudoOriginal).find('.GRAVAR_OPER_DIR').text() == "") {
                        $('#' + oper_dirconteudoOriginal).prepend(ReplaceHrefID);
                    }
                   
                    var x = document.getElementsByClassName("GRAVAR_OPER_DIR");
                    var i;
                    for (i = 0; i < x.length; i++) {
                        x[i].style.display = "none";
                    }
                              
                    //NOTA TA: Aqui re-faço a href do botão com todos os campos preenchidos de origem
                    var ValorInicial_id_camp_calc = $('#id_camp_calc').find('td#id_camp_calc_').text();
                    var ReplaceHref_id_camp_calc = $('#' + oper_dirconteudoOriginal).find(hrefalterar).parent().html().replace('id_camp_calc=id_camp_calc', 'id_camp_calc' + '=' + ValorInicial_id_camp_calc);
                    $('#' + oper_dirconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_id_camp_calc);

                    var ValorInicial_num_oper_dir = $('#' + oper_dirconteudoOriginal).find('b#num_oper_dir').text();
                    var ReplaceHref_num_oper_dir = $('#' + oper_dirconteudoOriginal).find(hrefalterar).parent().html().replace('num_oper_dir=num_oper_dir', 'num_oper_dir' + '=' + ValorInicial_num_oper_dir);
                    $('#' + oper_dirconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_num_oper_dir);

                    var ValorInicial_sintaxe_oper_dir = $('#' + oper_dirconteudoOriginal).find('td#sintaxe_oper_dir').text();
                    var ReplaceHref_sintaxe_oper_dir = $('#' + oper_dirconteudoOriginal).find(hrefalterar).parent().html().replace('sintaxe_oper_dir=sintaxe_oper_dir', 'sintaxe_oper_dir' + '=' + ValorInicial_sintaxe_oper_dir);
                    $('#' + oper_dirconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_sintaxe_oper_dir);
 


                    //NOTA TA: No caso de o conteudo original da celula ter plicas "'", substuituo momentaneamente a plica por um cxarater "|" especifico, para ultrapassar a questão.
                    if (conteudoOriginal.indexOf("'") != '-1') {
                        var conteudoOriginal_ = conteudoOriginal.replace("'", "|").replace("'", "|");
                        $(this).html('<textarea id="input" name="input" class="input" style="min-width: -webkit-fill-available; font-size: 13px;"  rows="8" >' + conteudoOriginal_ + "</textarea>");
                        var input = ($(this).html().replace("|", "'").replace("|", "'"));
                        $(this).html(input);
                        $(this).children().first().focus();

                    } else
                    {
                        $(this).html('<textarea id="input" name="input" class="input"   style="min-width: -webkit-fill-available; font-size: 13px;"  rows="8"  >' + conteudoOriginal + "</textarea>");
                        $(this).children().first().focus();
                    }


                                           

                    // NOTA TA: Keypress significa que a instrução é cumprida quando o utilizador faz "enter"
                    $(this).children().first().keypress(function (e) {
                        if (e.which == 13) {

                            var novoConteudo = $(this).val();
                            var novoConteudo_ = novoConteudo.split('+').join('ª');
                            var novoConteudo = novoConteudo.split(texto_1_ini).join(cor_1_ini).split(texto_1_fim).join(cor_1_fim).split(texto_2_ini).join(cor_2_ini).split(texto_2_fim).join(cor_2_fim).split(texto_3_ini).join(cor_3_ini)


                           
                                                 $(this).parent().html(novoConteudo);
                            $(this).parent().removeClass("celulaEmEdicao");

                          
                            var hrefalterar1 = '"a[href*=' + "'" + idconteudoOriginal + "'" + ']"';


                            var ReplaceHref1 = $('#' + oper_dirconteudoOriginal).find(hrefalterar1).parent().html().split('&lt;').join('<').split('&gt;').join('>').split('ª').join('+').split('<p>').join('').replace('&amp;' + idconteudoOriginal + '=' + conteudoOriginal, '&amp;' + idconteudoOriginal + '=' + novoConteudo_);


                     
                       
                            $('#' + oper_dirconteudoOriginal).find(hrefalterar1).parent().html(ReplaceHref1);


                            var x = document.getElementsByClassName("GRAVAR_OPER_DIR");
                            var i;
                            for (i = 0; i < x.length; i++) {
                                x[i].style.display = "block";
                                x[i].style.backgroundColor = "#8B008B";
                                x[i].style.fontSize = "20px"
                                x[i].style.textAlign = "right"
                                x[i].style.width = "100px"
                                x[i].style.color = "white";
                                x[i].style.marginLeft = "90%";
                         
                            }

                            $(".GRAVAR_OPER_DIR a").attr('style', 'color:white');

                        }

                    });
            })
                
                //--------------------------------TRATO os CAMPO de OPERAÇÃO DIRECTA_USER--------------------------

         
                    $(".webgrid-rubrica-camp-dir_user ").click(function () {
     

                        if ($(this).children().attr('class') != "input") {
                            var oper_dirconteudoOriginal = $(this).parent().parent().parent().parent().attr('id');
                            var idconteudoOriginal = $(this).attr('id');
                            var findidconteudoOriginal = '.' + idconteudoOriginal + '';
                            var hrefalterar = '"a[href*=' + "'" + idconteudoOriginal + "'" + ']"';
                            var conteudoOriginal = $(this).text();
                            ;}

                        //NOTA TA: Aqui passo o botão Gravar Selector para dentro do Selector que está a ser aletarado
                        var ReplaceHrefID = $("#GRAVAROPER_DIR_USERXX form").html();
                        if ($('#' + oper_dirconteudoOriginal).find('.GRAVAR_OPER_DIR_USER').text() == "") {
                            $('#' + oper_dirconteudoOriginal).prepend(ReplaceHrefID);
                        }
                   
                        var x = document.getElementsByClassName("GRAVAR_OPER_DIR_USER");
                        var i;
                        for (i = 0; i < x.length; i++) {
                            x[i].style.display = "none";
                        }
                              
                        //NOTA TA: Aqui re-faço a href do botão com todos os campos preenchidos de origem
                        var ValorInicial_id_camp_calc = $('#id_camp_calc').find('td#id_camp_calc_').text();
                        var ReplaceHref_id_camp_calc = $('#' + oper_dirconteudoOriginal).find(hrefalterar).parent().html().replace('id_camp_calc=id_camp_calc', 'id_camp_calc' + '=' + ValorInicial_id_camp_calc);
                        $('#' + oper_dirconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_id_camp_calc);

                        var ValorInicial_num_oper_dir = $('#' + oper_dirconteudoOriginal).find('b#num_oper_dir').text();
                        var ReplaceHref_num_oper_dir = $('#' + oper_dirconteudoOriginal).find(hrefalterar).parent().html().replace('num_oper_dir=num_oper_dir', 'num_oper_dir' + '=' + ValorInicial_num_oper_dir);
                        $('#' + oper_dirconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_num_oper_dir);

                        var ValorInicial_sintaxe_oper_dir = $('#' + oper_dirconteudoOriginal).find('td#sintaxe_oper_dir').text();
                        var ReplaceHref_sintaxe_oper_dir = $('#' + oper_dirconteudoOriginal).find(hrefalterar).parent().html().replace('sintaxe_oper_dir=sintaxe_oper_dir', 'sintaxe_oper_dir' + '=' + ValorInicial_sintaxe_oper_dir);
                        $('#' + oper_dirconteudoOriginal).find(hrefalterar).parent().html(ReplaceHref_sintaxe_oper_dir);
 


                        //NOTA TA: No caso de o conteudo original da celula ter plicas "'", substuituo momentaneamente a plica por um cxarater "|" especifico, para ultrapassar a questão.
                        if (conteudoOriginal.indexOf("'") != '-1') {
                            var conteudoOriginal_ = conteudoOriginal.replace("'", "|").replace("'", "|");
                            $(this).html('<textarea id="input" name="input"  class="input" style="min-width: -webkit-fill-available; font-size: 13px;"  rows="8" >' + conteudoOriginal_ + "</textarea>");
                            var input = ($(this).html().replace("|", "'").replace("|", "'"));
                            $(this).html(input);
                            $(this).children().first().focus();

                        } else
                        {
                            $(this).html('<textarea id="input" name="input"  class="input" style="min-width: -webkit-fill-available; font-size: 13px;"  rows="8" >' + conteudoOriginal + "</textarea>");
                            $(this).children().first().focus();
                        }


                                           

                        // NOTA TA: Keypress significa que a instrução é cumprida quando o utilizador faz "enter"
                        $(this).children().first().keypress(function (e) {
                            if (e.which == 13) {

                                var novoConteudo = $(this).val();
                                var novoConteudo_ = novoConteudo.split('+').join('ª');
                                var novoConteudo = novoConteudo.split(texto_1_ini).join(cor_1_ini).split(texto_1_fim).join(cor_1_fim).split(texto_2_ini).join(cor_2_ini).split(texto_2_fim).join(cor_2_fim).split(texto_3_ini).join(cor_3_ini)

                           
                                                    $(this).parent().html(novoConteudo);
                                $(this).parent().removeClass("celulaEmEdicao");

                            
                                var hrefalterar1 = '"a[href*=' + "'" + idconteudoOriginal + "'" + ']"';
                     

                                var ReplaceHref1 = $('#' + oper_dirconteudoOriginal).find(hrefalterar1).parent().html().split('&lt;').join('<').split('&gt;').join('>').split('ª').join('+').split('<p>').join('').replace('&amp;' + idconteudoOriginal + '=' + conteudoOriginal, '&amp;' + idconteudoOriginal + '=' + novoConteudo_);

                                    
                     
                       
                                $('#' + oper_dirconteudoOriginal).find(hrefalterar1).parent().html(ReplaceHref1);

                                var x = document.getElementsByClassName("GRAVAR_OPER_DIR_USER");
                                var i;
                                for (i = 0; i < x.length; i++) {
                                    x[i].style.display = "block";
                                    x[i].style.backgroundColor = "#8B008B";
                                    x[i].style.fontSize = "20px"
                                    x[i].style.textAlign = "right"
                                    x[i].style.width = "100px"
                                    x[i].style.color = "white";
                                    x[i].style.marginLeft = "90%";

                                }

                                $(".GRAVAR_OPER_DIR_USER a").attr('style', 'color:white');
                            }

                        });

                })
            })
      
    </script>
       

}
