﻿
<style id="ccs_style" type="text/css">
    .page-breaker {
        display: block;
        clear: both;
        page-break-after: always;
    }

    .oculta {
        display: none;
    }

    .graficos_textos {
        height: 725px;
        width: 1250px;
    }

    /*.webgrid-table_ {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 10px;
        width: 100%;
        display: table;
        border: solid 1px #FFFFFF;
        background-color: white;
        text-align: right;
    }*/
</style>


<!DOCTYPE html>
<html lang="en" style="background-color:white; min-width:1000px">
<body>
    @{
        Layout = null;
    }
    @{
        var ANO_VERSAO_REAL = @ViewData["ANO_VERSAO_REAL"];
        var ANO_VERSAO_ANTE = @ViewData["ANO_VERSAO_ANTE"];
        var MES_ACUM_REAL = @ViewData["MES_ACUM_REAL"];
        var MES_ACUM_ANTE = @ViewData["MES_ACUM_ANTE"];
        var MES_INI_PER_REAL = @ViewData["MES_INI_PER_REAL"];
        var MES_INI_PER_ANTE = @ViewData["MES_INI_PER_ANTE"];
        var MES_FIN_PER_REAL = @ViewData["MES_FIN_PER_REAL"];
        var MES_FIN_PER_ANTE = @ViewData["MES_FIN_PER_ANTE"];
    }
    <table id="CAPA_DEM_RESULT_MENSAL_COMP_REL" style="width:100%;height:750px;text-align:center">
        <tr>
            <td style="width:15%">
                <p class="site-title">
                    @if (Request.IsAuthenticated)
                    {
                        <text>


                            @{ string IdentifyUser = User.Identity.Name;
                                string caracter = "#";
                                int Identifycaracter = IdentifyUser.IndexOf(caracter);
                                var IdentifyLength = IdentifyUser.Length - Identifycaracter;
                                var User1 = IdentifyUser.Substring(0, Identifycaracter);
                                var Conexao = IdentifyUser.Substring(Identifycaracter + 1, IdentifyLength - 1);
                                var logo_conexao = "/images/logo_" + @Conexao + ".png";

                            }
                            <img src=@logo_conexao style="width:200px" />

                        </text>}

            </td>

            <td style="width:70%"></td>
            <td style="width:15%"></td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2" style="text-align:right">

                <h1> RELATÓRIO DE DEMONSTRAÇÃO DE RESULTADOS </h1>
            </td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td style="text-align:right"> <h2 style="text-align:right; color:blue">@Html.Raw(ViewData["MES_ACUM_REAL_EXTENSO"]) de @Html.Raw((string.Format("{0:N}", @ANO_VERSAO_REAL))) </h2></td>

        </tr>
        <tr>
            <td>di4you.pt</td>
            <td></td>
            <td style="text-align:right">
                <div id="date"></div>
            </td>
        </tr>
    </table>
    <div id="PAGE_BREAK_DEM_RESULT_MENSAL_COMP_REL" class="page-breaker"></div>


    @Html.Action("DEM_RESULT_MENSAL_COMP", "BI", new { Pesquisa_User = "tjalmeida", desativa_datatable = 1 })

</body>
</html>



<script type="text/javascript">



    $(document).ready(function () {
        $("header").addClass('oculta');
        $("footer").addClass('oculta');
        $(".dt-buttons").addClass('oculta');
        $("label").addClass('oculta');
        $("input").addClass('oculta');
        $("button").addClass('oculta');
        $("#botoes").addClass('oculta');
        $(".dataTables_info").addClass('oculta');




        //document.getElementById("DEM_RESULT_MENSAL_COMP").classList.remove('webgrid-table');
        //document.getElementById("DEM_RESULT_MENSAL_COMP").classList.add('webgrid-table_');


        var x = document.getElementsByClassName("webgrid-header");
        var i;
        for (i = 0; i < x.length; i++) {
            x[i].style.backgroundColor = "#3366cc";
            x[i].style.color = "white";

        }

        var x = document.getElementsByClassName("main-content");
        var i;
        for (i = 0; i < x.length; i++) {
            x[i].style.backgroundColor = "white";
        }

        document.body.style.borderTop = "0px";
        document.getElementById('body').style.backgroundColor = "#FFFFFF";
        document.getElementById('DEM_RESULT_MENSAL_COMP').style.width = "100%";
        document.getElementById('DEM_RESULT_MENSAL_COMP').style.height = "650px";
		     document.getElementById('body').style.paddingBottom = "0px";







    })


n = new Date();
y = n.getFullYear();
m = n.getMonth() + 1;
d = n.getDate();
document.getElementById("date").innerHTML ="DATA : "+ d + "/" + m + "/" + y;


</script>

